* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #2a19ac;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(208, 23, 190, 0.372);
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(187, 22, 173, 0.1);
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 75%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.task.completed {
    background-color: #e6f7e6;
    text-decoration: line-through;
}

.task span {
    flex-grow: 1;
    text-align: left;
}

button.editButton, button.deleteButton {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button.editButton:hover {
    background-color: #0056b3;
}

button.deleteButton {
    background-color: #e74c3c;
}

button.deleteButton:hover {
    background-color: #c0392b;
}
